:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box{
  /* The box that contains all content */
  /* border: 3px solid red; */


}

.card{
  border: 3px solid white;
  background-color: blue;
  
  
  width: 40%;
  padding: 100px 50px;
  margin: auto;

}